In [ ]:
#speed test between list and numpy array

import numpy as np
import time

n = 1000000
listed = list(range(n)) # creating a list from 0 to 1000000
nplist = np.array(listed) # creating a numpy array from 0 to 1000000

t1 = time.time() # t1 is start time of list time
for i in listed:
    k= i
t2 = time.time()
print('time of the list (second) =>', round((t2-t1), 5))
for x in nplist:
    k = x
t3 = time.time()
print('time of the numpy array (second) =>',round((t3-t2),5))

time of the list (second) => 0.06763
time of the numpy array (second) => 0.10957

In [ ]:
lista = ['John', 'Harry', False, True, 0, 35]
filter_list = filter(None, lista)
for k in filter_list:
    print(k)

enum =  dict(enumerate(lista, 4))
print(enum)

John
Harry
True
35
{4: 'John', 5: 'Harry', 6: False, 7: True, 8: 0, 9: 35}

In [ ]:
T = (1, 2, 3, 4, 5, 6, 7, 8)
print(T[T.index(5)], end = " ")
print(T[T[T[6]-3]-6])

print("T[6] = ", T[6])
print("T[T[6]-3] = ", T[T[6]-3])
print("T[T[6]-3]-6 = ", T[T[6]-3]-6)
print("T[-1] = ", T[-1])

5 8
T[6] =  7
T[T[6]-3] =  5
T[T[6]-3]-6 =  -1
T[-1] =  8

In [ ]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3}
D['1'] = 2

print(D[D[D[str(D[1])]]])

3

In [ ]:
set1 = {1, 2, 3}
set2 = set1.copy()
set2.add(4)
print("set1 = ", set1)

set1 =  {1, 2, 3}

In [ ]:
def fibenocci(num):
    fib =[1, 1]
    for i in range(1, num-1):
        fib.append(fib[i]+fib[i-1])
    return fib
number = int(input('enter a number > '))
fibenocci(number)

enter a number > 5

[1, 1, 2, 3, 5]

In [ ]:
sentence = 'dsjkwe  weiorwior rereiooqwp ;ff dfuieuweuioio daeassio '
def vowel(let):
    vow = 'a e i o u, ü, ı,ö'.split()
    if let.lower() in vow:
        return True
    else:
        return False

filtered_vowels = filter(vowel, sentence)
print(* filtered_vowels)

e e i o i o e e i o o i e e i o i o a e a i o

RCN SOft