In [ ]:
city = ['Paris', 'London', 'New York', 'Napoli', 'Rome', 'Atina', 'Madrid', 'Koln', 'Hamburg']
# not empty list
print(any(city))
country = []
# empty list
any(country)

True

False

In [ ]:
num = [1, 2, 3]
num_set = set(num)
num_set

{1, 2, 3}

In [ ]:
empty_set = set([3])
num_set - empty_set

In [ ]:
[1] + [2, 3]

[1, 2, 3]

In [ ]:
num_set - set([1] + [2])

{3}

In [ ]:
[[i] for i in range(3)]

[[0], [1], [2]]

In [ ]:
[[i ** 2] for i in range(3)]

[[0], [1], [4]]

In [ ]:
[[i ** 2] + ['a'] for i in range(3)]

[[0, 'a'], [1, 'a'], [4, 'a']]

In [ ]:
[[i] + [i**2] for i in range(3)]

[[0, 0], [1, 1], [2, 4]]

In [ ]:
# solution-1 = [ [1], [2], [3] ]
# solution-2 = [ [1, 2], [1, 3], [2, 1], [2, 3], [3, 1], [3, 2] ]
# solution-3 = [ [1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1] ]

In [ ]:
solution = [[]]
for index in range(len(num)):
    solution = [ i+[j] for i in solution for j in num_set.difference(set(i))]
    print(solution)

[[1], [2], [3]]
[[1, 2], [1, 3], [2, 1], [2, 3], [3, 1], [3, 2]]
[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

In [ ]:
solution

[[0], [1], [2]]

In [ ]:
num = [1,2,3]
b = [[x, y, z] for x in num for y in num for z in num if len(set([x, y, z])) == len(num)]
print(b)

[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

In [ ]:
import smtplib
from email.mime.text import MIMEText

sender = 'admin@example.com'
receivers = ['info@example.com']


port = 1025
msg = MIMEText('This is test mail')

msg['Subject'] = 'Test mail'
msg['From'] = 'admin@example.com'
msg['To'] = 'info@example.com'

with smtplib.SMTP('localhost', port) as server:
    
    # server.login('username', 'password')
    server.sendmail(sender, receivers, msg.as_string())
    print("Successfully sent email")

In [ ]:
""" 
Q - What is the term to describe this code?     count, fruit, price = (2, 'apple', 3.5)
A -  tuple unpacking
"""
count, fruit, price = (2, 'apple', 3.5)
print(count, fruit, price )

2 apple 3.5

In [ ]:
"""
What built-in list method would you use to remove items from a list?
A - ".pop()" method
"""
city = ['Paris', 'London', 'New York', 'Napoli', 'Rome', 'Athens', 'Madrid', 'Koln', 'Hamburg']
# city = city.pop(5)   # delete all elements except 5th index
# city.remove('Athens') # remove 'Athens' from city
city.clear() # remove all elemnts
print(city)

[]

In [ ]:
score = {'John':-20, 'Thomas':104, 'Maria':60, 'Diana':45, 'Laura':80}
# result1 if condition1 else result2 if condition2 else result3
res = {}
for s in score : res.update({s:'incorrect score' if score[s]<0 or score[s]>100
                             else 'pass' if score[s]>49 else 'fail'})
res

{'Diana': 'fail',
 'John': 'incorrect score',
 'Laura': 'pass',
 'Maria': 'pass',
 'Thomas': 'incorrect score'}

In [ ]:
import string

def check_password(pas):
    res = 'password requests at least '
    pas_list = list(pas)
    punctuation = len(list(filter (lambda x: x in string.punctuation, pas_list)))
    if punctuation<3 : res += '3 punctuations '
    lower = len(list(filter (lambda x: x in string.ascii_lowercase, pas_list)))
    if lower<3 : res += '3 lowercases '
    upper = len(list(filter (lambda x: x in string.ascii_uppercase, pas_list)))
    if upper<3 : res += '3 uppercases '
    numeric = len(list(filter (lambda x: x in string.digits, pas_list)))
    if numeric<3 : res += '3 numeric characters '
    return res
    
pas = 'AdeuY>78!'
check_password(pas)

'password requests at least 3 punctuations 3 uppercases 3 numeric characters '

In [ ]:
class MyClass:
    x = 5
    y= 10

In [ ]:
class Person:
  def __init__(self, name, age, salary, gender):
    self.name = name
    self.age = age
    self.salary = salary
    self.gender = gender
  def myfunc(self):
    print('Awesome ' + self.name)

In [ ]:
p1 = Person("John", 36, 4300, 'male')
print(p1.name)
print(p1.age)
p1.myfunc()

John
36
Awesome John

In [ ]:
class Person:
  def __init__(object, name, age):
    object.name = name
    object.age = age

class Student(Person):
  pass

p1 = Person("John", 36)
print(p1.name)

s1 =Student('Tom', 18)

print(s1.name, s1.age)

John
Tom 18