In [ ]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

In [ ]:
str = "pynative"
print (str[1:3])

yn

In [ ]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [ ]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add("Vicki")
print(sampleSet)

{'Eric', 'Garry', 'Vicki', 'Jodi'}

In [ ]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: ignored

In [ ]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [ ]:
print(type({}) is set)

False

In [ ]:
x = 75
def myfunc():
    x = x + 1
    print(x)

myfunc()
print(x)

UnboundLocalError: ignored

In [ ]:
def func1():
    a = 50
    return a
func1()
print(a)

NameError: ignored

In [ ]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [ ]:
x = 50
def fun1():
    x = 25
    print(x)
    
fun1()
print(x)

25
50

In [ ]:
type(range(5))

range

In [ ]:
aTuple = (1, 'Jhon', 1+3j)
print(type(aTuple[2:3]))

<class 'tuple'>

In [ ]:
str1 = """Ault'Kelly"""
print(str1)

Ault'Kelly

In [ ]:
str1 = 'Ault\'Kelly'
print(str1)

Ault'Kelly

In [ ]:
print(type([]) is list)

True

In [ ]:
print(type(0xFF))

<class 'int'>