In [ ]:
def college_year():
    """ The enumerate() method adds a counter to 
         an iterable and returns it (the enumerate object)
         enumerate(iterable, start=0) """
    college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
    return list(enumerate(college_years, 2019))
college_year()
print(help(college_year))
# help(enumerate)

Help on function college_year in module __main__:

college_year()
    The enumerate() method adds a counter to
    an iterable and returns it (the enumerate object)
    enumerate(iterable, start=0)

None

In [ ]:
dict_demo = dict()
print(dict_demo[3])

KeyError: ignored

In [ ]:
from collections import defaultdict

defaultdict_demo = defaultdict(int)
defaultdict_demo[2]

0

In [ ]:
from collections import defaultdict

defaultdict_demo = defaultdict(list)

defaultdict_demo['one'].append(1)
defaultdict_demo['two'].append(2)
defaultdict_demo['one'].append('1')
defaultdict_demo['three']

print(dict(defaultdict_demo.items()))

{'one': [1, '1'], 'two': [2], 'three': []}

In [ ]:
from collections import defaultdict

defaultdict_demo = defaultdict(set)

defaultdict_demo['one'].add(1)
defaultdict_demo['two'].add(2)
defaultdict_demo['one'].add('1')
defaultdict_demo['three']

print(dict(defaultdict_demo.items()))
defaultdict_demo['three']

{'one': {1, '1'}, 'two': {2}, 'three': set()}

set()

In [ ]:
from collections import defaultdict
name = ['John', 'Tom', 'Jacob']
salary = [3000, 4000]
employee = defaultdict(set)
counter = 0
for n in name:
    if counter<len(salary): employee[n].add(salary[counter])
    else: employee[n]
    counter += 1

employee

defaultdict(set, {'Jacob': set(), 'John': {3000}, 'Tom': {4000}})

In [ ]:
fruit = ['Apple', 'Orange', 'Banana', 'Apricot', 'Cherry']
print('ID     Fruit')
print('--------------')
for f in range(len(fruit)): 
    tasty = list(enumerate(fruit, 1000))
    print(f"{tasty[f][0]} - {tasty[f][1]}")

ID     Fruit
--------------
1000 - Apple
1001 - Orange
1002 - Banana
1003 - Apricot
1004 - Cherry

In [ ]:
def sum(a, b):
    """
    >>> sum(4, 3)
    7
    >>> sum(-4, 5)
    1
    """
    return a + b
help(sum)

Help on function sum in module __main__:

sum(a, b)
    >>> sum(4, 3)
    7
    >>> sum(-4, 5)
    1

In [ ]:
fruits = ['apples', 'oranges', 'bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
# Desired output  [('Apples', 5, 1.50), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]
groceries = zip(fruits, quantities, prices)
list(groceries)

[('apples', 5, 1.5), ('oranges', 3, 2.25), ('bananas', 4, 0.89)]

In [ ]:
fruit = ['Apple', 'Orange', 'Banana', 'Apricot', 'Cherry']
animal = []
print(any(fruit))
print(any(animal))
print(all(fruit))
print(all(animal))

True
False
True
True

In [ ]:
count, fruit, price = (2, 'apple', 3.5)
print(count, fruit, price)

2 apple 3.5

In [ ]:
num_people = 5
if num_people > 10:
    print("There is a lot of people in the pool.")
elif num_people > 4:
    print("There are some people in the pool.")
elif num_people > 0:
    print("There are a few people in the pool.")
else:
    print("There is no one in the pool.")

There are some people in the pool.

In [ ]:
numbers = [2, 4, 6, 8, 10]
# returns square of a number
def square(number):
  return number * number
# apply square() function to each item of the numbers list
squared_numbers_iterator = map(square, numbers)
# converting to list
squared_numbers = list(squared_numbers_iterator)
print(squared_numbers)
# Output: [4, 16, 36, 64, 100]

[4, 16, 36, 64, 100]

In [ ]:
def print_alpha_nums(abc_list, num_list):
    for char in abc_list:
        for num in num_list:
            print(char, num)
    return

print_alpha_nums(['a', 'b', 'c'], [1, 2, 3])

a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3

In [ ]:
def sum(a, b):
          """
          >>> a = 1
          >>> b = 2
          >>> sum(a, b)
          3
          """
          return a + b
help(sum)

Help on function sum in module __main__:

sum(a, b)
    >>> a = 1
    >>> b = 2
    >>> sum(a, b)
    3

In [ ]:
fruit_info = { 'fruit': 'apple', 'count': 2, 'price': 3.5 }
fruit_info ['price'] = 1.5
fruit_info

{'count': 2, 'fruit': 'apple', 'price': 1.5}

In [ ]:
fruits = {'Apples': 5, 'Oranges': 3, 'Bananas': 4}
fruit_names = [x for x in fruits.keys()]
fruit_names

['Apples', 'Oranges', 'Bananas']